fastapi
uvicorn[standard]
sqlalchemy
pandas
openpyxl
python-multipart
python-dotenv
langchain-google-genai
langchain-community
faiss-cpu
scikit-learn
easyocr
pdfplumber
pillow
opencv-python
reportlab
numpy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
email-validator
